<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@100&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@100;300;400;500;700&family=Source+Sans+Pro&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap"
        rel="stylesheet">
    <link rel="icon" href="favicon.ico?v=1.1">
    <title>Practice</title>
</head>
<body>
    <svg id="svg-logo" data-v-423bf9ae="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 290.85314169326006 60" class="font">
        <!---->
        <!---->
        <!---->
        <g data-v-423bf9ae="" id="3a454a33-4fbb-4ca5-a0ff-de8f4b20bfaf" fill="rgb(62, 104, 102)"
            transform="matrix(4.1958041398401305,0,0,4.1958041398401305,-3.8601379852300113,-14.559441200543908)">
            <path
                d="M4.40 10.93L5.78 14.92L7.95 14.92L6.16 10.37C7.10 9.94 7.62 9.11 7.62 7.69L7.62 7.39C7.62 5.17 6.37 4.26 4.03 4.26L0.92 4.26L0.92 14.92L2.84 14.92L2.84 10.93ZM2.84 6.03L4.05 6.03C5.14 6.03 5.64 6.27 5.64 7.49L5.64 7.66C5.64 8.79 5.29 9.17 4.12 9.17L2.84 9.17ZM13.43 14.92L15.09 14.92L15.09 9.24C15.09 7.07 13.87 6.34 12.08 6.34C10.11 6.34 9.07 7.17 9.07 9.24L10.77 9.24C10.77 8.26 11.21 7.90 12.07 7.90C12.89 7.90 13.30 8.32 13.30 9.28L13.30 10.14C12.91 10.09 12.45 10.05 12.08 10.05C9.79 10.05 8.82 11.00 8.82 12.70C8.82 14.25 9.81 15.09 11.24 15.09C12.18 15.09 12.91 14.80 13.36 14.28ZM13.30 12.05C13.30 13.01 12.61 13.54 11.84 13.54C11.07 13.54 10.68 13.19 10.68 12.54C10.68 11.77 11.10 11.37 12.24 11.37C12.50 11.37 13.01 11.40 13.30 11.45ZM16.73 6.51L16.73 14.92L18.62 14.92L18.62 9.42C18.62 8.44 19.11 8.01 19.91 8.01C20.85 8.01 21.15 8.47 21.15 9.58L21.15 14.92L23.04 14.92L23.04 9.38C23.04 7.34 22.30 6.34 20.48 6.34C19.59 6.34 18.89 6.59 18.45 7.10L18.37 6.51ZM27.75 16.24C26.85 16.24 26.54 15.86 26.50 15.22L24.70 15.22C24.74 16.80 25.51 17.77 27.69 17.77C29.69 17.77 30.90 16.90 30.90 14.45L30.90 6.51L29.09 6.51L29.04 6.93C28.66 6.57 28.10 6.34 27.29 6.34C25.76 6.34 24.53 7.32 24.53 9.55L24.53 11.33C24.53 13.48 25.42 14.63 27.23 14.63C27.94 14.63 28.59 14.43 29.02 14.06L29.02 14.62C29.02 15.81 28.64 16.24 27.75 16.24ZM29.02 11.58C29.02 12.56 28.55 12.98 27.71 12.98C26.80 12.98 26.42 12.49 26.42 11.35L26.42 9.63C26.42 8.43 26.91 8.01 27.72 8.01C28.48 8.01 29.02 8.39 29.02 9.49ZM36.97 12.40C36.93 13.13 36.62 13.54 35.66 13.54C34.69 13.54 34.31 13.02 34.31 11.98L34.31 11.28L38.79 11.28L38.79 9.55C38.79 7.34 37.77 6.34 35.66 6.34C33.50 6.34 32.47 7.49 32.47 9.58L32.47 11.79C32.47 14.11 33.49 15.09 35.67 15.09C37.83 15.09 38.67 14.15 38.72 12.40ZM35.67 7.91C36.64 7.91 37.00 8.43 37.00 9.53L37.00 9.84L34.31 9.84L34.31 9.59C34.31 8.39 34.69 7.91 35.67 7.91ZM44.37 14.92L44.37 5.96L46.89 5.96L46.89 4.26L39.90 4.26L39.90 5.96L42.42 5.96L42.42 14.92ZM49.92 6.51L48.03 6.51L48.03 14.92L49.92 14.92ZM49.92 3.47L48.03 3.47L48.03 5.28L49.92 5.28ZM55.44 6.34C54.49 6.34 53.86 6.59 53.38 7.08L53.30 6.51L51.66 6.51L51.66 14.92L53.55 14.92L53.55 9.39C53.55 8.44 54.05 8.01 54.84 8.01C55.78 8.01 56.08 8.47 56.08 9.62L56.08 14.92L57.97 14.92L57.97 9.60C57.97 8.46 58.48 8.01 59.28 8.01C60.21 8.01 60.52 8.47 60.52 9.58L60.52 14.92L62.41 14.92L62.41 9.38C62.41 7.28 61.68 6.34 59.74 6.34C58.72 6.34 57.92 6.69 57.46 7.34C57.04 6.65 56.38 6.34 55.44 6.34ZM68.42 12.40C68.38 13.13 68.07 13.54 67.10 13.54C66.14 13.54 65.76 13.02 65.76 11.98L65.76 11.28L70.24 11.28L70.24 9.55C70.24 7.34 69.22 6.34 67.10 6.34C64.95 6.34 63.91 7.49 63.91 9.58L63.91 11.79C63.91 14.11 64.93 15.09 67.12 15.09C69.27 15.09 70.11 14.15 70.17 12.40ZM67.12 7.91C68.08 7.91 68.45 8.43 68.45 9.53L68.45 9.84L65.76 9.84L65.76 9.59C65.76 8.39 66.14 7.91 67.12 7.91Z">
            </path>
        </g>
        <!---->
        <!---->
    </svg>
        <div id="end">
            <label for="timeAtRange">Select your range time (H:MM)</label>
            <select name="timeAtRange" id="timeAtRange">
                <option value="0.5">0:30</option>
                <option value="1" selected>1:00</option>
                <option value="1.5">1:30</option>
                <option value="2">2:00</option>
                <option value="2.5">2:30</option>
                <option value="3">3:00</option>
                <option value="3.5">3:30</option>
                <option value="4">4:00</option>
            </select>
            <button id="startRange">Start Range Session</button>
        </div>
        
        <div id="results">
            <ul>
                <li id="teeShotTime">Tee Shots:&nbsp;<span id="teeShotSpan"> <%=teeAverage%></span></li>
                <li id="approachShotTime">Approach Shots:&nbsp;<span id="approachShotSpan"> <%=approachAverage%></span></li>
                <li id="shortGameTime">Short Game:&nbsp;<span id="shortGameSpan"> <%=sgAverage%></span></li>
            </ul>
            <a href="/todos" id="finalFinish" onClick="window.location.reload();">Finish</a>
        </div>

            <div id="currentTimer">
                <h2><span class="bold-green" id="typeOfPractice"></span></h2>
                <div id="timer"></div>
                <button id="finishTimer">Finish</button>
            </div>

    <script src="js/practice.js"></script>
</body>
</html>